{% extends 'base.html.twig' %}

{% block title %}Authentification | Virtual Drops{% endblock %}

{% block body %}

    {{ form_start(userForm) }}

    {{ form_row(userForm.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.password) }}
    {{ form_row(userForm.confirmPassword) }}
    {{ form_row(userForm.firstName) }}
    {{ form_row(userForm.lastName) }}
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(userForm) }}

    {{ form_start(companyForm) }}
    {{ form_row(companyForm.username) }}
    {{ form_row(companyForm.email) }}
    {{ form_row(companyForm.name) }}
    {{ form_row(companyForm.password) }}
    {{ form_row(companyForm.confirmPassword) }}
    {{ form_row(companyForm.description) }}
    {{ form_row(companyForm.category) }}
    {{ form_row(companyForm.imageFile) }}
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(companyForm) }}

{% endblock %}
