<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="author" content="Gaspard ANDRIEU et Maxime POULAIN">
        <link rel="stylesheet" href="{{ asset('res/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('res/bootstrap/bootstrap_lux.min.css') }}">
        <link rek="stylesheet" href="{{ asset('res/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" media="screen" href="{{ asset('res/particles/css/style.css') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('logo-192.png') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="particles-js" class="position-fixed"></div>
        <div class="sticky-top pb-3">
            <div class="page-content">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 py-2 pr-2">
                    <a class="navbar-brand" href="{{ path('home') }}">Virtual Market</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Coming soon...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Comming soon...</a>
                            </li>
                        </ul>
                    </div>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}">
                            <button type="button" class="btn btn-primary">Se déconnecter ({{ app.user.username }})</button>
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}">
                            <button type="button" class="btn btn-primary">Se connecter</button>
                        </a>
                        <a href="{{ path('app_register') }}">
                            <button type="button" class="btn btn-primary ml-1">S'inscrire</button>
                        </a>
                    {% endif %}
                </nav>
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
                <footer class="fixed-bottom py-1 text-center">
                    © 2020 Copyright: Virtual Drops
                </footer>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="{{ asset('res/fontawesome/js/all.js') }}"></script>
                <script src="{{ asset('res/bootstrap/bootstrap.min.js') }}"></script>
                <script src="{{ asset('res/particles/particles.js') }}"></script>
                <script src="{{ asset('res/particles/js/app.js') }}"></script>
                <script src="{{ asset('res/sticky.js') }}"></script>
                <script>
                    $(document).ready(function() {
                        $("").sticky({
                            topSpacing: 0
                        });
                    });
                </script>
                {% block javascripts %}{% endblock %}
            </div>
        </div>
    </body>
</html>
